#bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}

body {
  background-color: black;
}

@font-face {
  font-family: 'Windsong';
  font-style: normal;
  font-weight: 400;
  src: url("Windsong.ttf");
}

#name {
  color: red;
  position: relative;
  top: 15%;
  left: 2.5%;
  width: 95%;
  font-family: windsong;
  font-size: 45px;
}
