html {
  overflow: hidden;
  overflow-wrap: break-word;
}

body {
  background-color: white;
}

p, h1, h2, h3, h4, h5, h6 , ul {
  position: relative;
  width: 80%;
  left: 20%;
}

#sidebar {
  background-color: teal;
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  left: 0;
}
div p {
  /*font-family: "Brush Script MT";*/
  text-align: center;
  overflow-wrap: break-word;
  position: relative;
  font-size: 24px;
  top: 0;
  left: 0;
  visibility: hidden;
}
#name {
  font-family: sans-serif;
}
